NEXT_PUBLIC_ORGANIZATION_NAME=<get this from the organization you create at auth.tina.io>
NEXT_PUBLIC_TINA_CLIENT_ID=<get this from the app you create at auth.tina.io>

# 1 indicates that Tina form submissions should persist to your local filesystem instead of Github
NEXT_PUBLIC_USE_LOCAL_CLIENT=1

# 0 means do not show the edit button and 1 means show the edit button (the button is always shown when in edit mode)
# If the button is not present you can go to /admin to enter edit mode

NEXT_PUBLIC_SHOW_EDIT_BTN=1