
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
tsconfig.tsbuildinfo

# misc
.DS_Store
.env
.env.local
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tina/__generated__

# dev
BACKUP/
CLAUDE.md
docs/dev/

