@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inline code styles */

.prose code {
  background-color: rgba(31, 41, 55, 0.07);
  border-color: rgba(31, 41, 55, 0.03);
  border-width: 1px;
  padding: 0.25rem;
  margin: -0.25rem 1px;
  border-radius: 3px;
}

.prose code::before {
  display: none !important;
}

.prose code::after {
  display: none !important;
}
